{
  "presets": [],
  "plugins": [
    "add-module-exports"
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-class-properties",
        "transform-es2015-modules-commonjs"
      ]
    },
    "production": {
      "presets": ["es2015-loose"],
      "plugins": [
        "transform-runtime"
      ]
    }
  }
}
